{% assign bullets = "" | split: "," %}

{%- for metafield in product.metafields.custom -%}
  {%- if metafield[0] contains "8_feature_bullet" -%}
    {% assign value_text = metafield[1].value | strip %}
    {% if value_text != blank and value_text != "N/A" %}
      {% assign bullets = bullets | push: metafield[1] %}
    {% endif %}
  {%- endif -%}
{%- endfor -%}

{% if bullets.size > 0 %}
  <strong><p>Features:</p></strong>
  <ul class="product-feature-list">
    {%- for b in bullets -%}
      <li>{{ b | metafield_tag }}</li>
    {%- endfor -%}
  </ul>
{% endif %}