{% comment %}
  Snippet: standards-logos.liquid
  Description: Displays logos for product Standards, linking to their URLs.
{% endcomment %}
standards:
{% if product.metafields != blank %}
  <div class="product-metafields">
    {% for namespace in product.metafields %}
      <h3>Namespace: {{ namespace[0] }}</h3>
      {% assign fields = namespace[1] %}
      <ul>
        {% for field in fields %}
          <li>
            <strong>{{ field[0] }}:</strong>
            {% assign value = field[1] %}
            {% if value.value != blank %}
              {{ value.value }}
            {% else %}
              {{ value }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% else %}
  <p>No metafields found for this product.</p>
{% endif %}

