{% comment %}
  Snippet: standards-logos.liquid
  Description: Displays logos for product Standards, linking to their URLs.
{% endcomment %}
standards
{% assign standards_refs = product.metafields.custom.Standards %}

{% if standards_refs != blank %}
  <div class="standards-logos">
    {% for standard_ref in standards_refs %}
      {% assign standard = standard_ref.value %}
      <a href="{{ standard.standard_url }}">
        <img src="{{ standard.standard_logo | img_url: '100x100' }}" alt="{{ standard.standard_name }}">
      </a>
    {% endfor %}
  </div>
{% endif %}
