{% assign bullet1 = product.metafields.custom['8_feature_bullet_1'] %}
{% assign bullet2 = product.metafields.custom['8_feature_bullet_2'] %}
{% assign bullet3 = product.metafields.custom['8_feature_bullet_3'] %}

{% assign bullet1_value = bullet1 | metafield_tag %}
{% assign bullet2_value = bullet2 | metafield_tag %}
{% assign bullet3_value = bullet3 | metafield_tag %}

{% if bullet1 or bullet2 or bullet3 %}
     <strong><p>Features:</p></strong>
  <ul class="product-feature-list">
    {% unless bullet2_value contains "N/A" or bullet1_value is blank %}
      <li>{{ bullet1_value }}</li>
    {% endunless %}
    {% unless bullet2_value contains "N/A" %}
      <li>{{ bullet2 | metafield_tag }}</li>
    {% endunless %}
    {% if bullet3 %}
      <li>{{ bullet3 | metafield_tag }}</li>
    {% endif %}
  </ul>
{% endif %}