{% assign bullet1 = product.metafields.custom['8_feature_bullet_1'] %}
{% assign bullet2 = product.metafields.custom['8_feature_bullet_2'] %}
{% assign bullet3 = product.metafields.custom['8_feature_bullet_3'] %}

{% if bullet1 or bullet2 or bullet3 %}
     <strong><p>Features:</p></strong>
  <ul class="product-feature-list">
    {% if bullet1 != 'N/A' %}
      <li>{{ bullet1 }}</li>
    {% endif %}
    {% if bullet2 %}
      <li>{{ bullet2 | metafield_tag }}</li>
    {% endif %}
    {% if bullet3 %}
      <li>{{ bullet3 | metafield_tag }}</li>
    {% endif %}
  </ul>
{% endif %}