{% assign bullet1 = product.metafields.custom['8_feature_bullet_1'] %}
{% assign bullet2 = product.metafields.custom['8_feature_bullet_2'] %}
{% assign bullet3 = product.metafields.custom['8_feature_bullet_3'] %}

{% assign bullet1_value = bullet1 | metafield_tag %}
{% assign bullet2_value = bullet2 | metafield_tag %}
{% assign bullet3_value = bullet3 | metafield_tag %}


{% unless bullet1_value contains "N/A" or bullet1_value == blank
and bullet2_value contains "N/A" or bullet2_value == blank
and bullet3_value contains "N/A" or bullet3_value == blank
%}
     <strong><p>Features:</p></strong>
  <ul class="product-feature-list">
    {% unless bullet1_value contains "N/A" or bullet1_value == blank %}
      <li>{{ bullet1_value }}</li>
    {% endunless %}
    {% unless bullet2_value contains "N/A" or bullet2_value == blank %}
      <li>{{ bullet2_value }}</li>
    {% endunless %}
    {% unless bullet3_value contains "N/A" or bullet3_value == blank %}
      <li>{{ bullet3_value }}</li>
    {% endunless %}
  </ul>
{% endunless %}