 {% if product.metafields.custom['9_reeses_law'] is true %}
  <div class="prop65">
    <div class="inner-alert">
      <img 
        src="{{ 'icon-alert.svg' | asset_url }}" 
        alt="Alert icon" 
        height="24" width="24"
      >
      <b>WARNING:</b> Ingestion Hazard - Keep out of rearch of children.
    </div>
  </div>
  {% endif %}