{%- comment -%}
  Usage:
  {% render 'render-dimension', label: 'Height', field: product.metafields.custom["11_height_inside"] %}
{%- endcomment -%}

{% if field and field.value %}
  <tr>
    <td class="spec-label">{{ label }}</td>
    <td>
      {{ field.value }}
      {% if field.unit %}
        {% case field.unit %}
          {% when "us_fl_oz" %} fl oz
          {% when "ml" %} mL
          {% when "l" %} L
          {% when "qt" %} qt
          {% when "gal" %} gal
          {% else %} {{ field.unit }}
        {% endcase %}
      {% endif %}
    </td>
  </tr>
{% endif %}