{% render 'trimark-algolia-instantsearch' %}

<div class="page-width">
    <div class="ais-InstantSearch">
    <div class="left-panel">
        <div class="clear-refinements-container">
            <span>Selected Filters</span>
            <div id="clear-refinements"></div>
        </div>
        <div id="selected-filters"></div>
        <div id="collections-list"></div>
        <div id="product-type"></div>
        <div id="brand-list"></div>
        <div id="price-range"></div>
        <div id="colors"></div>
        <div id="inventory-available"></div>
        
        
    </div>
    <div class="right-panel">
        
        <div id="searchbox"></div>
        <div class="ais-SortByWrapper">
            <span class="ais-SortByLabel">Sorted By</span>
            <div id="sort-by"></div>
        </div>
        <div id="hits"></div>
        <div id="pagination"></div>
        
    </div>
    </div>
</div>