// page overrides



.about-us-container {
    padding: 15px;
}

.about-us-container p {
    font-size: 18px;
}
.about-us-container center h2 {
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
}
.about-us-container .thumbnail {
    width: 33%;
    text-align: center;
    margin-top: 35px;
    display: inline-block;
    vertical-align: top;
}

.about-us-container .gallery {
    clear: both;
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    word-wrap: break-word;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.about-us-container .banner {
    background-color: #A12740;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}
.about-us-container .banner h2 {
    font-size: 30px;
    color: white;
}

.about-us-container .banner p {
    color: #FFFFFF;
    text-align: center;
    float: center;
    font-weight: 400;
    margin: 15px 0;
    font-size: 25px;
}

.about-us-container footer {
    background-color: #FFFFFF;
    padding-bottom: 35px;
}

.about-us-container footer .footer_column {
    width: 50%;
    text-align: center;
    padding-top: 30px;
    float: left;
    font-size: 20px;

}    

@media screen and (min-width: 990px) {
    .page-width--narrow {
        max-width: 1200px !important;
        padding: 0;
    }

}
@media screen and (min-width: 750px) {
    .page-width--narrow {
        padding: 0 9rem;
    }
}
@media screen and (min-width: 750px) {
    .page-width {
        padding: 0 5rem;
    }
}
.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media screen and (max-width: 750px) {

        .about-us-container footer .footer_column {
        width: 100%;
        margin: 15px;
    }
    .about-us-container .thumbnail {
        width: 100%;
        margin: 15px;
    }
}