body {
   background: #F9F9F9 !important;
}

.header {
  justify-content: space-between;
  align-items: self-end;
}

.svg-wrapper>svg {
    width:25px;
    height:25px;
}

.search-icon-wrapper svg {
    width:20px;
    height:20px;
}

.footer__blocks-wrapper .brand-phone, .footer__blocks-wrapper .brand-email {
    display:flex;
    gap: 5px;
    align-items: flex-end;
}

.footer__blocks-wrapper .brand-phone a, .footer__blocks-wrapper .brand-email a {
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    color: rgb(var(--color-foreground));
    font-size: 1.4rem;
    font-family: inherit;
}

.footer__blocks-wrapper .brand-phone img, .footer__blocks-wrapper .brand-email img {
    height: 20px;
    width: 20px;
}

.footer-block__brand-info .list-social {
    justify-content: flex-start;
    gap: 20px;
    margin-top: 15px;
}
.footer-block__brand-info .list-social__link {
    align-items: center;
    display: flex;
    padding: 0px;
    color: rgba(var(--color-link),var(--alpha-link));
}

.footer-block__brand-info .list-social__item .icon {
    width: 23px;
    height: 25px;
}

.footer-block__brand-info .svg-wrapper {
    width: 23px;
    height: 25px;
}

.footer-block--newsletter .footer__list-social {
    display:none;
}

.copyright__content {
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    color: rgb(var(--color-foreground));
    font-size: 1.4rem;
    font-family: inherit;
}

.footer__copyright.caption {
    /* padding-top: 20px; */
    border-top: 1px solid #CACED4;
}

.footer__blocks-wrapper .brand-phone a, .footer__blocks-wrapper .brand-email a {
    line-break: anywhere;
}
.footer__blocks-wrapper .brand-phone p, .footer__blocks-wrapper .brand-email p {
    margin-top:0px;
}
#MainContent {
   margin: 0px;
}
.collection-list-description-wrapper {
   padding: 0px 0px 10px 0px;
}
.collection-list .card__information {
   text-align: left;
}
.collection-list .card__information .icon-wrap {
   display:none;
}
.footer .footer-block__heading {
  font-size: 16px;
  line-height 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer .list-menu__item--link {
    padding-bottom: 0px;
    padding-top: 0px;
}

.template-index .featured-collection-body {
    background: #fff;
    padding: 5rem 5rem;
    border-radius: 8px;
}
.template-index .view-all-wrapper {
    max-width:1100px;
    background: #fff;
    padding: 2rem 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0 auto;
}
.facets-container .facets__heading, .facets-container .facets__summary-label, .facets-container .facets__summary span, #FacetFiltersForm .facets__heading--vertical .facets__heading {
  font-weight: bold;
}
.facets-vertical.page-width {
  background:#fff;
  padding-bottom: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 1115px;
}

.facets-vertical-form {
  align-items: anchor-center;
}
.facet-filters__field .select {
    width: auto;
    border: 1px solid #c5c1c1;
    padding: 5px;
    border-radius: 3px;
}
.select .svg-wrapper, .customer select+.svg-wrapper {
    right: 5px;
}

.facets.page-width {
  background:#fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-width: 1115px;
}
.shopify-policy__container {
    background: #fff;
    max-width: 1115px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom:40px;
    border-radius:8px;
    min-height: 500px;
}
.page-width .product {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
}
.related-products.page-width {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  max-width: 1105px;
}
.cart-item-wrapper.page-width {
  background: #fff;
  border-radius: 8px;
  max-width: 1105px;
}
.cart-items .title-wrapper-with-link {
    padding-top: 10px;
}
.collection__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.collection__title h2 {
  font-size: 25px;
}
.collection__view-all a {
  border: 1px solid #8f8f8f;
}
.collection__view-all a:hover {
  border: 1px solid #8f8f8f;
}
.cart-items_count {
  display: none;
}
.totals__total-value {
  font-weight: bold;
}
.cart-item__totals.right {
  display:none;
}
.cart-item-wrapper.page-width, .cart-footer-wrapper.page-width  {
  padding-top: 15px;
}
.cart-footer-wrapper.page-width  {
  margin-bottom:40px;
  
}
.cart-footer-wrapper.page-width {
  background: #fff;
  max-width: 1105px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.cs-cart-items__footer-totals .cs-button, .cs-cart-items__footer-totals .cs-button:hover {
  background-color: rgb(168 36 62);
}
.cs-cart-items__footer-totals .cs-button.cs-button--secondary {
  color: rgb(168 36 62);
  background: #fff;
  border: 1px solid rgb(168 36 62);
}
.cs-container {
  background: #fff;
}
.cs-component {
  background: #F9F9F9 !important;
  margin-bottom: 30px;
}
.cs-mb-3, .cs-my-6 {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding: 20px;
}
.cs-cart-items {
  padding: 20px;
}
.cs-cart-items__footer {
  padding: 20px !important;
}
.cs-header {
  margin: 0px !important;
  padding: 20px;
}
@media screen and (max-width: 1054px) {
  .header__menu-item {
    padding: 0.5rem;
  }
 
}
@media screen and (max-width: 1173px) {
  .footer__blocks-wrapper .brand-email {
    align-items: center;
  }
  #main-cart-footer {
    background:#F9F9F9;
  }
 
}
@media screen and (max-width: 1145px) {
  .responsive.page-width {
     margin: 0 5rem;
  }
  .collection-hero .collection-hero__title {
     margin: 0 3.5rem;
  }
  .related-products.page-width {
     margin: 0 1.5rem;
  }
  .cart-item-wrapper.page-width {
     margin: 0 5rem;
  }
  .cart-footer.page-width {
     margin: 0 5rem;
  }
  /* .cart-footer-wrapper.page-width {
     margin: 0 5rem;
  } */
  /* .cart-footer-wrapper.page-width {
    margin: 0px 5rem 40px 5rem;
  } */
}
@media screen and (max-width: 749px) {
  .shopify-policy__container {
    min-height: auto;
    
  }
  .shopify-policy__container .shopify-policy__title h1 {
    font-size: 22px !important;
  }
  .shopify-policy__body {
    word-wrap: break-word;
  }
  .footer .grid {
    flex-direction: column;
    text-align: center;
  }
  .footer .grid__item {
    width:100%;
    margin-bottom: 10px;
  }
  .footer-block.grid__item.scroll-trigger.animate--slide-in {
    width: 100%;
    text-align: center;
  }
  .footer-block .list-menu__item--link {
    justify-content: center;
  }
  .footer .footer-block__image-wrapper {
    margin-inline: auto;
  }
  .footer__blocks-wrapper .brand-phone, .footer__blocks-wrapper .brand-email {
    justify-content: center;
  }
  .footer-block__brand-info .list-social__item .icon, .footer-block__brand-info .svg-wrapper {
    justify-content: center;
  }
  .footer-block__brand-info .footer__list-social {
    justify-content: center;
  }
  .collection__title {
    align-items: flex-start;
    flex-direction: column;
  }
  .collection .responsive.page-width {
    margin: 0px;
    margin-bottom:10px;
  }

  .facets-container .product-count__text {
    display: none;
  }
  .product-tabs .tab-button {
    font-size: 15px;
  }
  .related-products.page-width {
      margin-bottom: 40px;
  }

  .cart-item-wrapper.page-width {
      margin: 0px 1.1rem;
  }
  .cart-footer-wrapper.page-width {
      margin: 0px 1.1rem;
  }
  
}