.product-label {
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 4px;

}
.private-label {
    background-color: #ff9f1c;
}

.non-stock-label {
    background-color: #c76e00;
}

.new-arrival-label {
    background-color: #A0522D;
}

.out-of-stock-label {
    background-color: #c76e00;
}